.full-width {
    width: 100% !important;
}
.bg-blue {
    background-image: linear-gradient(
        to right top,
        #0073b7,
        #0086c0,
        #0097c5,
        #00a8c6,
        #00b8c4
    ) !important;
}
.bg-red {
    /*background-image: linear-gradient(to right bottom, #dd4b39, #db4546, #d74052, #d13d5e, #c93d68)!important;*/
    /* background-image: linear-gradient(to right bottom, #dd4b39, #e65347, #ef5b55, #f76463, #ff6d71)!important;*/
    background-image: linear-gradient(
        to right bottom,
        #dd4b39,
        #ec6f65,
        #d21a13,
        #de0d0b,
        #f3060d
    ) !important;
}
.bg-yellow {
    background-image: linear-gradient(
        to right bottom,
        #dd4b39,
        #e65f31,
        #ed7328,
        #f1881e,
        #f39c12
    ) !important;
}
.bg-green {
    /*background-image: linear-gradient(to right bottom, #00837d, #008d7b, #009674, #009e69, #00a65a)!important;*/
    background-image: linear-gradient(
        to right bottom,
        #04736d,
        #008f73,
        #00ab6a,
        #00c44f,
        #5ddc0c
    ) !important;
}

.bg-verify {
    background-image: linear-gradient(
        to right top,
        #f39c12,
        #f8b005,
        #fac400,
        #fad902,
        #f8ee15
    ) !important;
}
.info-box {
    display: block;
    min-height: 90px;
    background: #b6d0ca33 !important;
    width: 100%;
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.3) !important;
    border-radius: 2px;
    margin-bottom: 15px;
}
.small-box .icon {
    margin-top: 7%;
}
.small-box > .inner {
    padding: 10px;
    color: white;
}

.small-box p {
    font-size: 18px !important;
}
.select2 .select2-container {
    /*//width:100%!important;*/
}

.link-button {
    background: none;
    border: none;
    color: blue;
    text-decoration: underline;
    cursor: pointer;
    font-size: 1em;
    font-family: serif;
}
.link-button:focus {
    outline: none;
}
.link-button:active {
    color: red;
}
.small-box-footer-custom {
    position: relative;
    text-align: center;
    padding: 3px 0;
    color: #fff;
    color: rgba(255, 255, 255, 0.8);
    display: block;
    z-index: 10;
    background: rgba(0, 0, 0, 0.1);
    text-decoration: none;
    font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial,
        sans-serif;
    font-weight: 400;
    width: 100%;
}
.small-box-footer-custom:hover {
    color: #fff;
    background: rgba(0, 0, 0, 0.15);
}
th.sorting::after,
th.sorting_asc::after,
th.sorting_desc::after {
    content: "" !important;
}
.errorField {
    border-color: #990000;
}
.searchPosition {
    margin: 70px;
}
.submitPosition {
    margin: 25px 0px 0px 0px;
}

.typeahead {
    border: 2px solid #fff;
    border-radius: 4px;
    padding: 8px 12px;
    max-width: 300px;
    min-width: 290px;
    background: rgba(66, 52, 52, 0.5);
    color: #fff;
}
.tt-menu {
    width: 300px;
}
ul.typeahead {
    margin: 0px;
    padding: 10px 0px;
}
ul.typeahead.dropdown-menu li a {
    padding: 10px !important;
    border-bottom: #ccc 1px solid;
    color: #fff;
}
ul.typeahead.dropdown-menu li:last-child a {
    border-bottom: 0px !important;
}
.bgcolor {
    max-width: 550px;
    min-width: 290px;
    max-height: 340px;
    background: url("world-contries.jpg") no-repeat center center;
    padding: 100px 10px 130px;
    border-radius: 4px;
    text-align: center;
    margin: 10px;
}
.demo-label {
    font-size: 1.5em;
    color: #686868;
    font-weight: 500;
    color: #fff;
}
.dropdown-menu > .active > a,
.dropdown-menu > .active > a:focus,
.dropdown-menu > .active > a:hover {
    text-decoration: none;
    background-color: #1f3f41;
    outline: 0;
}
table.dataTable thead th,
table.dataTable thead td {
    padding: 10px 13px;
}
table.dataTable tfoot th,
table.dataTable tfoot td {
    padding: 10px 5px;
}

.criteria1 {
    text-transform: uppercase;
    font-weight: bold;
}

#example_length {
    margin-left: 40%;
    margin-top: 2px;
}
@keyframes spinner {
    to {
        transform: rotate(360deg);
    }
}

.spinner:before {
    content: "";
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 20px;
    height: 20px;
    margin-top: -10px;
    margin-left: -10px;
    border-radius: 50%;
    border: 2px solid #ccc;
    border-top-color: #333;
    animation: spinner 0.6s linear infinite;
}
